* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  background-color: #141A25;
}

/*
#405DE6; blue
#5851DB; dark blue
#833AB4; violet
#C13584; indigo
#E1306C; pink
#FD1D1D; red
#F56040; light red
#F77737; orange
#d9e1e8: light background
#bbbbbb: grey*/

.App {
  display: flex;
  color: #eeeeee;
  align-items:center;
  flex-direction: column;
  height: 100vh;
}
